#top {
	width: 100%; 
	height: 860px;
	background: url('../img/top-bg.png') no-repeat 50% 0% / cover;
	z-index: 1;
	opacity: .99;
}
nav {
	width: 100%;
	height: 115px;
	// opacity: 0.5;
	// background-color: black;
	background-color: rgba(0, 0, 0, 0.5)
}
.logo {
	height: 115px;
	width: 355px;
	padding: 23px 0 15px 148px;
	background: url('../img/logo.png') no-repeat 3% 52% / 85px;
	float: left;
}
.logo-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	margin-left: -10px;
	&__up {
		font-size: 28px;
		letter-spacing: 3px;
		margin-left: 10px;
	}
}
.menu {
	float: right;
	margin-top: 45px;
	margin-right: 28px;
	width: 535px;
	& li {
		float: left;
		margin-right: 35px;
		font-size: 17px;
		font-weight: 500;
		font-family: 'Open Sans', sans-serif;
		list-style-type: none;
		// word-spacing: 1px;
		letter-spacing: 1.6px;
		& a {
			color: #fff;
		}
		& a:visited, & a:focus, & a:hover, & a:active {
			text-decoration: none;
			color: #fff;
		}
	}
	.menu__m {
		text-transform: uppercase;
		font-size: 12px;
	}
	& li:first-child {
		// margin-right: 27px;
	}
	& li:last-child {
		// letter-spacing: 1.6px;
		margin-right: 0;
	}
}
.top-link-list {
	margin-top: 19px;
	float: right;
	padding: 0;
	// white-space: nowrap;
	.top-link_ico {
		color: #fb404a;
		font-size: 17px;
		margin-right: -1px;
		// padding-bottom: 5px;
		display: inline-block;
		margin-right: 5px;
	}
	& li {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		list-style-type: none;
		font-weight: 700;	
	}
	& li:first-child {
		font-size: 18px;
		letter-spacing: 1.6px;
		word-spacing: 1px;
	}
	& li:nth-child(2) {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		.top-link_ico {
			padding-bottom: 1px;
		}
	}
	& li:last-child {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0px;
		word-spacing: 1px;
		.top-link__time {
			font-size: 8px;
			// padding-bottom: 5px;
			display: inline-block;
			vertical-align: top;
			padding-top: 3px;
		}
		.top-link3__m {
			text-transform: uppercase;
			font-size: 10px;
		}
		.top-link_ico {
			padding-bottom: 1px;
		}
	}	
}
.top-img {
	width: 698px;
	margin-top: 168px;
	margin-left: -38px;
}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	font-weight: 700;
	// line-height: 40px;
	text-transform: uppercase;
	margin-left: -13px;
	margin-top: 164px;
	letter-spacing: 10px;
}
#top h2 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 3px;
	word-spacing: 2px;
	line-height: 40px;
	margin-top: -9px;
	margin-left: -16px;
	text-transform: uppercase;
}
.top-p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	margin-left: -13px;
	margin-top: 26px;
	letter-spacing: 1.8px;
	&__up {
		font-weight: 700;
		line-height: 134%;
		font-size: 32px;
		letter-spacing: 3px;
	}
}
.btn-to-form{
	width: 181px;
	height: 50px;
	background-color: #fb404a;
	border-radius: 6px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	padding: 9px 12px;
    margin-top: 13px;
    margin-left: -11px;
    letter-spacing: 1.7px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	border: none;
	&:focus {
		outline:none !important;
		text-decoration: none;
		color: white;
	}
	&:active, &:visited {
		text-decoration: none;
		color: white;
		background-color: #fb404a;
	}
	&:hover {
		background-color: #ca3139;
		text-decoration: none;
	}
}
.btn-more{
	background-color: transparent;
	border-radius: 6px;
	color: #d2e824;
	border: 2px solid #d2e824;
	padding: 9px 0;
    margin-top: 13px;
    margin-left: 50px;
    letter-spacing: 1.7px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	&:focus {
		outline:none !important;
		color: #d2e824;
	}
	&:active, &:visited {
		text-decoration: none;
		color: #d2e824;
		background-color: transparent;
	}
	&:hover {
		background-color: #d2e824;
		text-decoration: none;
		color: white;
	}
}