footer {
	width: 100%;
	height: 153px;
	background: url('../img/bgf.png') no-repeat 50% 50% / cover;
	margin-top: -5px;
}
.copyright {
	text-align: center;
	// margin-top: 10px;
	opacity: 0.5;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	font-variant: small-caps;
	margin-bottom: 15px;
}