.modal-content {
	width: 770px;
	height: 688px;
	background-color: white;
	background-image: linear-gradient(to top, rgba(156, 166, 40, 0.56) 0%, rgba(72, 170, 171, 0.56) 100%);
	box-shadow: 0 0 50px black;
	padding: 19px;
	border-radius: 0;
}
.modal-body {
	width: 770px - 2*19px;
	height: 688px - 2*19px;
	border: 2px solid white;
	padding: 0 45px;
}
#myModal h2 {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 45px;
	letter-spacing: 3px;
}
.modal-h2-text {
	background: url('../img/small-bg.png') no-repeat 50% 0% / cover;
	width: 292px;
	height: 44px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	font-variant: small-caps;
	margin: 45px auto 0;
	padding: 5px 0px;
	letter-spacing: 1px;
	text-align: center;
}
.modal-item {
	width: 100%;
	margin-top: 36px;
	img {
		float: left;
		margin-left: 3px;
	}
	p {
		float: left;
		margin-left: 15px;
		margin-top: 10px;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}
.modal-alert {
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.modal-color {
	width: 100%;
	margin-top: 20px;
	img {
		float: left;
		margin-left: 20px;
	}
	p {
		float: left;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		font-variant: small-caps;
		margin-top: 15px;
		margin-left: 5px;
		letter-spacing: 2px;
	}
}
#modal-recall {
	
	input {
		background-color: transparent;
		width: 100%;
		border: none;
		margin-top: 37px;
		border-bottom: 1px solid #fff; 
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		font-variant: small-caps;

		&:focus {outline:none !important;}
	}
	input[name="name"]{margin-top: 24px;}
	input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none;
    color: #fff !important;
}
	input::-webkit-input-placeholder {color: #d0e0ca; letter-spacing: 1.5px;}
	input:-moz-placeholder {color: #d0e0ca; letter-spacing: 1.5px;}
	input:-ms-input-placeholder {color: #d0e0ca; letter-spacing: 0px; font-size: 16px;}
	.btn-form {
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		font-variant: small-caps;
		width: 214px;
		height: 50px;
		background-color: #fb404a;
		border-radius: 7px;
		text-align: center;
		padding-top:0px;
		border: none;
		letter-spacing: 1.5px;
		margin: 24px 212px 26px;

		&:hover {
			background-color: #b7333a;
			text-decoration: none;
		}
	}
}