#seventh {
	width: 100%;
	height: 925px;
	background: url('../img/bg7.png') no-repeat 50% 100% / cover;
	z-index: -1;
	margin-top: 0px;
	padding-top: 53px;
	& h3 {
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		text-align: center;
		margin-left: -24px;
   	 	letter-spacing: 4px;
	}
}
#myCarousel3 {
	margin-top: 137px;
	margin-left: 14px;

}
.carousel-control {
	display: none;
}
img.sl-img {
	height: 336px !important;
}
.carousel-indicators {
    position: absolute;
    bottom: -145px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -38%;
    text-align: center;
    list-style: none;
    // margin-left: 10px;
}
.carousel-indicators li {
	width: 49px;
	height: 49px;
	border: 2px solid transparent;
	border-radius: 25px;
	background-color: transparent;
	margin: 0;
	margin-right: 7px;
	.tag {
		width: 41px;
		height: 41px;
		border-radius: 20px;
		// background-color: black;
		margin: 2px;
	}
    // & .active-tag {
    &:nth-child(1) .tag {
    	background-color: #01cbfc;
	    border: 1px solid #01cbfc;
    }
    &:nth-child(2) .tag {
    	background-color: #e58787;
	    border: 1px solid #e58787;
    }
    &:nth-child(3) .tag {
    	background-color: #f08c4d;
	    border: 1px solid #f08c4d;
    }
    &:nth-child(4) .tag {
    	background-color: #afed15;
	    border: 1px solid #afed15;
    }
    &:nth-child(5) .tag {
    	background-color: #3e3e3e;
	    border: 1px solid #3e3e3e;
    }
    &:active {
    	border: 2px solid white;
    }
}
.carousel-indicators .active {
    width: 49px;
	height: 49px;
	border: 2px solid white;
	border-radius: 25px;
	background-color: transparent;
	margin-right: 7px;
}
.seventh-list {
	list-style-image: url(../img/v.png);
	margin-top: 132px;
	margin-left: 46px;
	li {
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 3px;
		font-variant: small-caps;
		letter-spacing: 1.5px;
	}
}
.btn-to-form_seven, .btn-to-form_seven:active, 
.btn-to-form_seven:visited, .btn-to-form_seven:focus {
	margin-top: 160px;
	margin-left: 150px;
	text-decoration: none;
	background-color: #fb404a;
}
.btn-to-form_seven:hover {
	text-decoration: none;
	background-color: #b7333a;
}



